.about__company {
display: flex;
flex-direction: column;
gap: 2rem;
text-align: justify; }

    .reason__container {
    display: flex;
    gap: 2rem; }
    .reason__container:not(:first-child) {
    margin-top: 2rem; }
        .reason__number {
        position: relative;
        width: 1.6rem;
        height: 1.6rem;
        background-color: var(--moonstone);
        margin-top: 0.4rem; }
            .reason__number::before {
            content: "";
            position: absolute;
            background-color: var(--moonstone);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: rotate(45deg);
            z-index: -1; }
        .reason__content {
        flex: 1; }
            .reason__title {
            color: var(--cyan-dark); }
            .reason__para {
            text-align: justify; }

.statements {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
gap: 2rem;
max-width: 90rem;
margin: 0 auto; }
    .statement {
    position: relative;
    margin-top: 4rem;
    border-radius: 0.4rem;
    border: 1px solid var(--warm-orange-light);
    transition: all var(--main-duration) ease; }
    .statement:hover { 
    box-shadow: var(--shadow-color) 0px 10px 30px -20px; }
    .statement:hover .statement__hidden {
    transform: translate(-50%, -50%) scale(140); }
    .statement:hover .statement__title,
    .statement:hover .statement__content {
    color: var(--mint-cream); }
        .statement__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 8rem;
        height: 8rem; }
            .statement__icon svg {
            display: block;
            height: 100%;
            width: auto; }
        .statement__container {
        position: relative;
        overflow: hidden;
        padding: 6rem 2rem 2rem;
        height: 100%;
        border-radius: 0.4rem; }
            .statement__hidden {
            position: absolute;
            top: 0;
            left: 50%;
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
            background-color: var(--warm-orange);
            z-index: -1;
            transition: all 0.6s ease; }
            .statement__title {
            color: var(--warm-orange);
            text-align: center; }
            .statement__content {
            text-align: justify; }
            .statement__content--values {text-align: center;}

.company__people {
display: flex;
flex-direction: column;
gap: 2rem;
text-align: justify; }
.company__team {
display: flex;
flex-wrap: wrap;
gap: 5rem;
justify-content: center;
margin-top: 2rem; }
    .team__member {
    text-align: center; }
        .team__member-image {
        margin: 0 auto;
        width: 16rem; }
            .team__member-img {
            display: block;
            width: 100%;
            height: auto; }
        .team__member-name {
        margin-top: 1rem;
        font-weight: 500;
        color: var(--warm-orange); }
        .team__member-title {
        margin-top: 0.5rem;
        font-size: 1.4rem; }
        .team__member-btn {
        background-color: transparent;
        margin-top: 2rem;
        color: var(--moonstone);
        font-weight: 500;
        text-decoration: underline; }

.company__name {
display: flex;
justify-content: center;
align-items: flex-start;
gap: 3rem; }
@media (max-width: 47.9375em) { 
.company__name {
flex-direction: column;
align-items: center; } } 
    .company__name-para {flex: 1;}
    .company__name-svg {
    width: 45rem;
    max-width: 50rem; }
    @media (max-width: 61.9375em) { 
    .company__name-svg {
    width: 35rem; } }
    @media (max-width: 47.9375em) { 
    .company__name-svg {
    width: 100%; } } 
        .company__name-svg svg {
        display: block;
        width: 100%;
        height: auto; }

.section__people {background: var(--card-hover);}
.we {
color: var(--moonstone);
text-transform: uppercase; }