.bhp__overview {
    display: flex;
    flex-direction: column;
    gap: 3rem;
text-align: justify;
}

.bhp__subtitle {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--cyan-dark);
    margin-bottom: 1rem; }
    .bhp__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: justify;
    padding-left: 2rem;
    line-height: 1.5; }
        .bhp__list-item {
            position: relative;
        }
        .bhp__list-item::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -2rem;
        transform: translate(0, -50%);
        z-index: 1;
        width: 0.5rem;
        height: 0.5rem;
        background-color: var(--moonstone); }
        .bhp__list-item::after {
        content: "";
        position: absolute;
        top: 50%;
        left: -2rem;
        transform: translate(0, -50%) rotate(45deg);
        z-index: 1;
        width: 0.5rem;
        height: 0.5rem;
        background-color: var(--moonstone); }