.header {
position: fixed;
width: 100%;
top: 0;
left: 0;
background-color: var(--mint-cream);
border-bottom: 1px solid var(--mint-cream-dark);
box-shadow: var(--shadow-color) 0 10px 30px -20px;
z-index: 100; }
    .nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-block: 1rem; }
        .nav__logo {
        height: 4.5rem; }
            .nav__logo-img {
            display: block;
            height: 100%;
            width: auto;}
                .nav__logo-img:hover path {
                fill: var(--moonstone-dark); }
        .nav__overlay {
        display: none; } 
        .nav__overlay--show {
        position: fixed;
        z-index: 110;
        top: 0;
        left: 0;
        display: block;
        width: 100vw;
        height: 100vh;
        background-color: var(--overlay-color); }
        .nav__menu {
        font-size: 1.9rem;
        display: flex;
        gap: 3rem; }
        @media (max-width: 61.9375em) {
        .nav__menu {display: none;}
        .nav__menu--show { 
        display: flex;
        flex-direction: column;
        gap: 0;
        position: absolute;
        padding-top: 14rem;
        top: 0;
        right: 0;
        z-index: 120;
        min-height: 100vh;
        min-width: 27rem;
        background-color: var(--mint-cream); } }
                .nav__link {text-transform: uppercase;}
                .nav__link--active {
                color: var(--warm-orange);
                font-weight: 500; }
                @media (max-width: 61.9375em) {
                .nav__link {
                display: inline-block;
                padding: 3rem; 
                width: 100%;}
                .nav__link--active {
                background: var(--card-hover); }}
        .nav__humberger {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        z-index: 140; }
            .nav__open,
            .nav__close {
            font-size: 3.8rem;
            color: var(--moonstone); }
            .nav__open--hide,
            .nav__close--hide {
            display: none; }
        @media (min-width: 62em) {
        .nav__humberger { display: none;} }
        .nav__settings {
        display: flex;
        gap: 2rem;
        align-items: center; }
        @media (max-width: 61.9375em) {
        .nav__settings {
        margin-inline: auto 2rem; }}
            .nav__mode {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            width: 5.5rem;
            height: 2.5rem;
            padding-inline: 0.5rem; }
                .nav__checkbox-item {
                outline: 1.6px solid var(--moonstone);
                position: absolute;
                appearance: none;
                cursor: pointer;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 0.1rem solid var(--moonstone);
                border-radius: 1.25rem; }
                    .nav__checkbox-item:hover {
                    outline-color: var(--moonstone-dark);
                    border-color: var(--moonstone-dark); }  
                    .nav__checkbox-item::before {
                    content: "";
                    position: absolute;
                    top: 2px;
                    left: 3px;
                    transition: all var(--main-duration) ease;
                    border-radius: 50%;
                    width: 18px;
                    height : 18px;
                    background-color: var(--moonstone); }  
                    @media (max-width: 61.9375em) {
                    .nav__checkbox-item::before {
                    width: 17px;
                    height : 17px; } }
                    @media (min-width: 75em) {
                    .nav__checkbox-item::before {
                    width: 19px;
                    height : 19px; } }
                    .nav__checkbox-item:hover::before {
                        background-color: var(--moonstone-dark); }  
                        .nav__checkbox-item:checked::before {
                        transform: translateX(30px); }
                        @media (max-width: 61.9375em) {
                        .nav__checkbox-item:checked::before {
                        transform: translateX(25px); } }
                        @media (min-width: 75em) {
                        .nav__checkbox-item:checked::before {
                        transform: translateX(30px); } }
            .nav__language {
            position: relative; }
                .nav__language-icon {
                color: var(--moonstone);
                font-size: 3rem;
                display: grid;
                place-items: center;
                cursor: pointer; }
                .nav__language-icon:hover {
                color: var(--moonstone-dark); }
                .nav__language-box {
                position: absolute;
                top: 3.8rem;
                right: -2rem;
                width: 16rem;
                padding: 1rem;
                border-radius: 0.4rem;
                background-color: var(--mint-cream);
                box-shadow: var(--shadow-color) 0px 10px 30px -20px;
                border: 1px solid var(--mint-cream-dark); }
                .nav__language-box--hidden {
                display: none; }
                    .nav__language-radios {
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                    padding: 0.5rem; } 
                    .nav__language-radios--active {
                    color: var(--warm-orange);
                    background: var(--card-hover); } 
                        .nav__language-radio {
                        appearance: none; }
                        .nav__language-radios label {
                        width: 100%;
                        cursor: pointer; }
                        .nav__language-radios label:hover {
                        color: var(--warm-orange); }