.services__overview {
display: flex;
flex-direction: column;
gap: 2rem;
text-align: justify; }
    .services__container {  
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 110rem; }
        .services__service {
        display: flex;
        column-gap: 2rem;
        scroll-margin-top: 7rem; }
            .services__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 7rem;
            height: 7rem; }
                .services__icon svg {
                display: block;
                height: 100%;
                width: auto; }
            .services__content {
            padding-block: 1rem; }
                .services__title {
                font-size: 1.8rem;
                color: var(--cyan-dark); }
                .services__para {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                text-align: justify;
                padding-left: 2rem;
                line-height: 1.5; }
                    .services__para-item span:first-child {
                    position: relative;
                    color: var(--moonstone);
                    font-weight: 500; }
                    .services__para-item span:first-child::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: -2rem;
                    transform: translate(0, -50%);
                    z-index: 1;
                    width: 0.5rem;
                    height: 0.5rem;
                    background-color: var(--moonstone); }
                    .services__para-item span:first-child::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: -2rem;
                    transform: translate(0, -50%) rotate(45deg);
                    z-index: 1;
                    width: 0.5rem;
                    height: 0.5rem;
                    background-color: var(--moonstone); }