.banner__overlay {
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background-color: var(--overlay-color);;
display: flex;
justify-content: center;
align-items: flex-end;
z-index: 1000; }
  .banner {
  background-color: var(--mint-cream);
  border-radius: 0.4rem;
  border: 1px solid var(--mint-cream-dark);
  box-shadow: var(--shadow-color) 0px 10px 30px -20px;
  margin: 0 1.5rem 3rem;
  max-width: 70rem; }
    .banner__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem; }
      .banner__title {
      color: var(--cyan-dark);
      font-weight: 600;
      font-size: 1.8rem; }
      .first-banner__language {
      position: relative; }
        .banner__icon {
        display: grid;
        place-items: center;
        cursor: pointer; }
        .banner__icon:hover {color: var(--moonstone); }
        .banner__icon--first {font-size: 2rem; }
        .first-banner__language-box {
        position: absolute;
        bottom: 5rem;
        right: -2rem;
        width: 16rem;
        padding: 1rem;
        border-radius: 0.4rem;
        background-color: var(--mint-cream);
        border: 1px solid var(--mint-cream-dark);
        box-shadow: var(--shadow-color) 0px 10px 30px -20px; }
        .first-banner__language-box--hidden {display: none; }
          .first-banner__language-radios {
          display: flex;
          align-items: center;
          gap: 2rem;
          padding: 0.5rem; } 
          .first-banner__language-radios--active {
          color: var(--warm-orange);
          background: var(--card-hover); } 
            .first-banner__language-radio {appearance: none; }
            .first-banner__language-radios label {
            width: 100%;
            cursor: pointer; }
            .first-banner__language-radios label:hover {color: var(--warm-orange); }
        .first-banner__content {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 0 2rem;
        margin-bottom: 2rem; }
        @media (max-width: 40em) { 
        .first-banner__content {flex-direction: column; }}
          .banner__text {
          text-align: justify;
          line-height: 1.5; }
            .banner__link {
            color: var(--moonstone);
            background-color: var(--mint-cream); }
          .first-banner__action-buttons {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          min-width: 25rem; }
          @media (max-width: 40em) { 
          .first-banner__action-buttons {width: 100%; }}
            .first-banner__accept-btn {
            color: var(--static-cyan-dark);
            background: var(--btn-background); }
            .first-banner__accept-btn:hover {
            background: var(--btn-hover); }
            .first-banner__reject-btn {
            color: var(--cyan-dark);
            outline: 2px solid var(--moonstone);
            background: var(--mint-cream); }
            .first-banner__reject-btn:hover {
            outline-color: var(--warm-orange); }

        .banner__icon--second {font-size: 2.8rem;}
      .second-banner__content {
      overflow-y: auto;
      max-height: calc(100vh - 20rem);
      margin-inline: 2rem; }
        .second-banner__usage {margin-bottom: 2rem; }
          .banner__subtitle {
          font-weight: 500;
          margin-bottom: 1rem; }
        .second-banner__accordion {
        background: var(--mint-cream);
        border-radius: 0.4rem;
        border: 1px solid var(--mint-cream-dark); }
        .second-banner__accordion:not(:last-child) {margin-bottom: 0.5rem; }
          .second-banner__accordion-top {
          display: flex;
          align-items: center;
          gap: 2rem;
          cursor: pointer;
          padding: 1rem; }
          .second-banner__accordion-top:hover {background: var(--card-hover); }
          .second-banner__accordion-top--open {background: var(--card-hover); }
            .second-banner__accordion-chevron {
            font-size: 2.8rem;
            transition: all var(--main-duration) ease-in-out; }
            .second-banner__accordion-chevron--open {transform: rotateX(180deg); }
            .second-banner__accordion-span {
            flex: 1;
            font-weight: 500; }
            .second-banner__accordion-checkbox {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            width: 5.5rem;
            height: 2.2rem;
            padding-inline: 0.5rem; }
              .second-banner__accordion-input {
              outline: 1px solid var(--rich-black);
              position: absolute;
              appearance: none;
              cursor: pointer;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              border: 0.1rem solid var(--rich-black);
              border-radius: 1.2rem; }
              .second-banner__accordion-input:hover {
              outline-color: var(--moonstone);
              border-color: var(--moonstone); }  
              .second-banner__accordion-input::before {
              content: "";
              position: absolute;
              top: 1px;
              left: 2px;
              transition: var(--main-duration);
              border-radius: 50%;
              width: 18px;
              height : 18px;
              background-color: var(--rich-black); }  
              .second-banner__accordion-input--notallowed {
              outline-color: var(--mint-cream-dark);
              border-color: var(--mint-cream-dark);
              cursor: not-allowed; }
              .second-banner__accordion-input--notallowed:hover {
              outline-color: var(--mint-cream-dark);
              border-color: var(--mint-cream-dark); }
              .second-banner__accordion-input--notallowed::before {background-color: var(--mint-cream-dark); }
              @media (max-width: 61.9375em) {
              .second-banner__accordion-input::before {
              width: 17px;
              height : 17px; } }
              @media (min-width: 75em) {
              .second-banner__accordion-input::before {
              width: 19px;
              height : 19px; } }
              .second-banner__accordion-input:hover::before {background-color: var(--moonstone); }  
              .second-banner__accordion-input--notallowed:hover::before {background-color: var(--mint-cream-dark); }
              .second-banner__accordion-input:checked::before {transform: translateX(32px); }
              @media (max-width: 61.9375em) {
              .second-banner__accordion-input:checked::before {transform: translateX(27px); } }
              @media (min-width: 75em) {
              .second-banner__accordion-input:checked::before {transform: translateX(33px); } }
          .second-banner__accordion-bottom {
          text-align: justify;
          padding: 0 1rem;
          line-height: 1.5;
          max-height: 0;
          transition: all var(--main-duration) ease-in-out;
          overflow: hidden; }
          .second-banner__accordion-bottom--open {max-height: 100rem; }
              .second-banner__accordion-bottom-li {
              display: flex;
              gap: 1rem; }
              .second-banner__accordion-bottom-span {
              color: var(--warm-orange);
              font-weight: 500;
              min-width: 11rem; }
      .second-banner__action {
      text-align: center;
      padding: 2rem; }
        .second-banner__save-btn {
        min-width: 25rem;
        color: var(--static-cyan-dark);
        background: var(--btn-background); }
        .second-banner__save-btn:hover {background: var(--btn-hover); }
        @media (max-width: 40em) { 
        .second-banner__save-btn {width: 100%; }}